<% content_for :orientation do%>
    rivenditori<span class="orientsep"> -> </span> <%= link_to @reg, ""%>
<% end %>

<% content_for :rightcol do %>
    <h1>Rivenditori regione <span class="enph"><%= @reg %></span></h1>
    <% if !@retailers_by_region[0] %> Non ci sono rivenditori in questa regione. <% else  %>
        <ul>
          <% @retailers_by_region.each do |retailer| %>
              <li class="productelem">
                <%=link_to image_tag(retailer.photo_url, :alt => retailer.name, :width => 300), retailers_show_path(:id => retailer.id, :ret => @reg)%>
                <a class="productname" href="retailers/show/<%=retailer.id%>"><%=retailer.name%></a>
              </li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to retailers_regions_path do %>
          <%= image_tag("buttonbwd.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Torna a regioni venditori</span>
      <% end %>
    </div>
<% end %>
