<% content_for :orientation do %>
    <%=link_to "Eventi per data", events_by_date_path %>
<% end %>

<% content_for :rightcol do %>
<h1>Eventi (per data)</h1>
<h3>Calendario degli eventi nei quali potrete trovare i nostri prodotti:</h3>
<ul>
  <% @dates.each do |date| %>
      <p class="eventdate"><%= date.to_formatted_s(:rfc822) %></p>
      <ul class="eventlist">
        <% @all_events.each do |event| %>
            <li><% if date == event.date %> <%= link_to event.name+" @ "+event.place+" ("+event.region+")", events_show_path(:id => event.id, :dat => date) %> <% end %></li>
        <% end %>
      </ul>
  <% end %>
</ul>

<% end %>

<% content_for :leftcol do %>
<% end %>