<% content_for :orientation do %>
    <%=link_to "Eventi per zona", events_by_region_path %>
<% end %>

<% content_for :rightcol do %>
<h1>Eventi (per zona)</h1>
<h3>Calendario degli eventi divisi per zona nei quali potrete trovare i nostri prodotti:</h3>
  <% @regions.each do |region| %>
      <p class="eventregion"><%= region %></p>
      <ul class="eventlist">
        <% @all_events.each do |event| %>
            <li><% if region == event.region %> <%= link_to event.name+" @ "+event.place+" ("+event.date.to_formatted_s(:rfc822)+")", events_show_path(:id => event.id, :reg => region) %> <% end %></li>
        <% end %>
      </ul>
  <% end %>
<% end %>

<% content_for :leftcol do %>
<% end %>