<% content_for :orientation do %>
    <%=link_to @event.name ,events_show_path(:id => @event.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall)%> <span class="orientsep"> -> </span> <%= link_to "rivenditori", events_events_retailers_path(:hom => @hom, :id => @event.id) %>
<% end %>

<% content_for :rightcol do %>
    <h1>Al <%= @event.name %> puoi trovare i seguenti rivenditori:</h1>

    <ul class="eventretailerslist">
      <% @event.retailers.each do |retailer| %>
          <li><%= link_to retailers_show_path(:id => retailer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @event.id, :reg => @reg, :dat => @dat, :rall => @rall) do %>
                <%= image_tag(retailer.photo_url, :width => 200, :class => "retailerphoto")%> <span class="retailerername"><%=retailer.name+": "+retailer.region %></span>
            <% end %></li>
      <% end %>
    </ul>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to events_show_path(:id => @event.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @event.id, :reg => @reg, :dat => @dat, :rall => @rall) do %>
          <%= image_tag("buttonbwd.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Torna a</span><span class="gray"><%=@event.name%></span>
      <% end %>
    </div>
<% end %>





