<% content_for :orientation do %>
    <% if(@reg) %>
        <%= link_to "Eventi per zona: "+@reg, events_by_region_path %><span class="orientsep"> -> </span><%= link_to @event.date.to_formatted_s(:rfc822)+" - "+@event.name, ""%>
    <% elsif(@dat) %>
        <%= link_to "Eventi per data", events_by_date_path %><span class="orientsep"> -> </span><%= link_to @event.date.to_formatted_s(:rfc822)+" - "+@event.name, ""%>
    <% elsif(@des)%>
        <%= link_to "Designers", designers_all_path%><span class="orientsep"> -> </span><%= link_to @desname, designers_show_path(:id => @des)%><span class="orientsep"> -> </span><%= link_to @proname, products_show_path(:des => @des,:id => @pro, :pro => @pro)%><span class="orientsep"> -> </span><%= link_to @event.name,""%>
    <% end %>
<% end %>
<% content_for :rightcol do %>
<h1><%=@event.name%></h1>
<%=image_tag(@event.photo_url, :class => "eventphoto")%>
<div class="row">
  <%=image_tag("formatbullets.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Descrizione</span>
</div>
<p class="paragraph"><%=@event.description %></p>
<div class="row">
  <%=image_tag("dataicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Data: <%=@event.date.to_formatted_s(:rfc822)%></span>
</div>
<div class="row">
  <%=image_tag("oraicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Ora: <%=@event.time.strftime("%I:%M")%></span>
</div>
<div class="row">
  <%=image_tag("locationicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Location: <%=@event.place%>, <%=@event.region%></span>
</div>

<div class="row">
  <div class="arrowcontainer">
    <% if @path_left %>
        <%=link_to @path_left do%>
            <%= image_tag("arrowleft.png", :width => 60, :class => "leftarrowpage")%>
        <% end %>
    <% end %>
    <% if @path_up %>
        <%=link_to @path_up do%>
            <%= image_tag("arrowup.png", :width => 60, :class => "uparrowpage")%>
        <% end %>
    <% end %>
    <% if @path_right %>
        <%=link_to @path_right do%>
            <%= image_tag("arrowright.png", :width => 60, :class => "rightarrowpage")%>
        <% end %>
    <% end %>
  </div>
</div>
</div>
<% end %>

<% content_for :leftcol do %>
<div class="row">
  <%= link_to events_events_retailers_path(:id => @event.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
      <%= image_tag("resellersicon.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Rivenditori</span>
  <% end %>
</div>
    <div class="row">
      <%= link_to events_events_products_path(:id => @event.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
          <%= image_tag("productsicon.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Prodotti</span>
      <% end %>
    </div>

<% end %>