<% content_for :orientation do %>
    <%=link_to "Designers", designers_all_path %><span class="orientsep"> -> </span><%=link_to @designer.name+" "+@designer.lastname,""%>
<% end %>

<% content_for :rightcol do %>
    <h1><%=@designer.name+" "+@designer.lastname%></h1>
    <%=image_tag(@designer.photo_url, :alt =>@designer.name+@designer.lastname , :width => 300, :class => "designerphoto")%>
    <p><%= @designer.biography%></p>
    <div>
    <h2>Collezione</h2>
    <div id="slidercont">
      <% if (@designer.designed_products[0]) %>
          <% if @designer.designed_products[1] %>
              <%=image_tag("slider_arrow_left.png", :width => 80, :id => "arrowleft", :class => "sliderarrow")%>
              <%=image_tag("slider_arrow_right.png", :width => 80, :id => "arrowright", :class => "sliderarrow")%>
          <% end %>
          <div id="slider" style="position:absolute;left:0;width:<%=@designer.designed_products.length*600%>px">
            <% @designer.designed_products.each do |prodpict| %>
                <div class="sliderobj">
                  <%=link_to products_show_path(:id => prodpict.id, :des => @designer.id, :pro => @pro, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do%>
                    <% if prodpict.pictures[0] %>
                      <%=image_tag(prodpict.pictures[0].url_image, :height => 230) %><p><%=prodpict.name%></p>
                    <% else %>
                      <%=image_tag("productdefault.jpg", :height => 230) %><p><%=prodpict.name%></p>
                    <% end %>
                <% end %>
                </div>
            <% end %>
          </div>
      <% else %>
          <div class="sliderobj">Nessun prodotto ancora associato a questo designer</div>
      <% end %>
    </div>
    </div>
    <div class="row">
      <div class="arrowcontainer">
        <% if @pro == "0" %>
            <%=link_to designers_show_path(:id => @prec_des, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do%>
                <%= image_tag("arrowleft.png", :width => 60, :class => "leftarrowpage")%>
            <% end %>
            <%=link_to designers_all_path do%>
                <%= image_tag("arrowup.png", :width => 60, :class => "uparrowpage")%>
            <% end %>
            <%=link_to designers_show_path(:id => @succ_des, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do%>
                <%= image_tag("arrowright.png", :width => 60, :class => "rightarrowpage")%>
            <% end %>
        <% else %>
            <%=link_to products_show_path(:id => @pro, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do%>
                <%= image_tag("arrowup.png", :width => 60, :class => "uparrowpage")%>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
    <%= link_to designers_awards_path(:id => @designer.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat) do %>
        <%= image_tag("riconoscimenti.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Riconoscimenti</span></a>
    <% end %>
    </div>
<% end %>