<% content_for :rightcol do %>
    <h1>Associate a product with an event</h1>



    <%= form_tag({:controller => "pages", :action => "create_product_event_relation"}, :method => "post") do%>

        <div class="field">
            <%= label_tag(:product_label, "Product:") %>
            <%= select_tag "product", options_from_collection_for_select(@products, "id", "name") %>

            <%= label_tag(:event_label, "<--->  Event:") %>
            <%= select_tag "event", options_from_collection_for_select(@events, "id", "name") %>
        </div> <br>
        <div class="submit" style="text-align: center">
            <%= submit_tag("Submit") %>
        </div>
    <% end %>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to "Back to Admin page", pages_admin_path %>
    </div>
<% end %>