<% content_for :orientation do %>
    <%= link_to "partners", pages_partners_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Partners</h1>
    <h3>Da anni collaboriamo con i seguenti partners:</h3>
    <div class="pageobject">
        <a href="#">
          <%= image_tag("molteni.jpg", :width => 290)%>
          <p>Molteni&C</p>
        </a>
    </div>
    <div class="pageobject">
        <a href="#">
          <%= image_tag("citterio.jpg", :width => 290) %>
          <p>Citterio</p>
        </a>
    </div>
    <div class="pageobject">
         <a href="#">
           <%= image_tag("unifor.jpg", :width => 290) %>
           <p>Unifor</p>
         </a>
    </div>
    <div class="pageobject">
         <a href="#">
           <%= image_tag("dada.jpg", :width => 290) %>
           <p>Dada</p>
         </a>
    </div>

<% end %>

<% content_for :leftcol do %>
<% end %>