<% content_for :orientation do %>
    <%= link_to "la compagnia", pages_who_we_are_path %> <span class"orientsep"> -> </span> <%= link_to "dove siamo", pages_where_we_are_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Dove Siamo</h1>
    <br>
    <p>Via Antonio Gramsci, 57 Comano (MI)</p>
    <br>
    <iframe width="650" height="550" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=Via+Antonio+Gramsci,+57,+Cormano,+MI&amp;aq=3&amp;oq=via+antonio+gramsci+57&amp;sll=45.468318,9.171867&amp;sspn=0.09342,0.237236&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Antonio+Gramsci,+57,+Cormano,+Milano,+Lombardia&amp;ll=45.538655,9.165257&amp;spn=0.013166,0.032959&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=Via+Antonio+Gramsci,+57,+Cormano,+MI&amp;aq=3&amp;oq=via+antonio+gramsci+57&amp;sll=45.468318,9.171867&amp;sspn=0.09342,0.237236&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Antonio+Gramsci,+57,+Cormano,+Milano,+Lombardia&amp;ll=45.538655,9.165257&amp;spn=0.013166,0.032959&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left"></a></small>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to pages_who_we_are_path do %>
          <%= image_tag("whoweareicon.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Chi Siamo</span>
      <% end %>
    </div>
<% end %>