<% content_for :orientation do %>
    <%= link_to "contatti", pages_contact_us_path %> <span class"orientsep"> -> </span> <%= link_to "diventa partner", pages_work_with_us_path %>
<% end %>

<% content_for :rightcol do %>
    <h1>Diventa Partner</h1>

    <form id="form" action="#" method="post">
      <h3> Compila il form per effettuare la richiesta:</h3>
      <table id="table1"; cellspacing="5px" cellpadding="5%";>
      <tr>
        <td align="right">Nome rivenditore:</td>
        <td><input type="text" name="Company Name" /></td>
      </tr>
      <tr>
        <td align="right">Descrizione:</td>
        <td><textarea rows="6" cols="30" name="Description"></textarea>
          <p>Breve descrizione del vostro lavoro</p>
        </td>
      </tr>
      <tr>
        <td align="right">Numero di telefono:</td>
        <td><input type="text" name="Contact number" /></td>
      </tr>
      <tr>
        <td align="right">Persona di riferimento:</td>
        <td><input type="text" name="Contact person" /></td>
      </tr>
      <tr>
        <td valign="top" align="right">Email:</td>
        <td><input type="text" name="Email" /></td>
      </tr>
      <tr>
        <td align="right">Indirizzo: </td>
        <td><input type="text" name="locations" /></td>
      </tr>
      <tr>
        <td> </td>
        <td> <input type="submit" value="Invia" />
        </td>
      </tr>
      </table>
    </form>

<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to pages_contact_us_path do %>
          <%= image_tag("riconoscimenti.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Contatti</span>
      <% end %>
    </div>
<% end %>