// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul{
  margin:0;
  padding:0;
  list-style: none;
}

.productname{
  margin:0;
  padding:0;
}

.productdesigner{
  margin:0;
  padding:0;
  color:#535353;
}

.pagesubtitle{
  font-size: 20px;
  line-height: 35px;
  vertical-align: top;
}

p{
  margin:0;
}

.row{
  margin-top:30px;
}

.icon{
  margin-left:-5px;
}

.designerelem{
  display: inline-block;
  width: 110px;
  border-bottom: 1px dotted #000;
  text-align:center;
}

.designerelem img{
  border: 5px solid #000;
}

.gray{
  display: block;
  margin-left: 42px;
  color: #535353;
  margin-top: -15px;
}

.arrowcontainer{
  margin-left:70%;
  margin-top:60px;
}

.uparrowpage{
  display: block;
  float: left;
  margin-top: -50px;
}

.leftarrowpage,.rightarrowpage{
  display: block;
  float: left;
}

.productretailerslist img,.eventretailerslist img{
  border: 5px solid #000;
}

.productretailerslist li,.eventretailerslist li{
  width:210px;
  margin-bottom: 15px;
  border-bottom: 1px dotted #000;
}

/****** GALLERY *******/
#slidercont{
  position:relative;
  overflow:hidden;
  width: 600px;
  height: 250px;
  margin: auto;
}

.sliderobj{
  float:left;
  width:600px;
  height:300px;
  text-align:center;
}

.sliderobj p{
  margin-top: -35px;
  font-weight: bold;
  color: #000;
}

.sliderobj img{
  border: 10px solid #000;
}

.sliderarrow{
  position: absolute;
  top: 90px;
  z-index:999;
  cursor: pointer;
}

#arrowleft{

}

#arrowright{
  left:520px;
}
/****** GALLERY END *******/

.productelem{
  display:block;
  width:320px;
  float:left;
  margin-right:30px;
  margin-bottom:20px;
  text-align:center;
}

.productelem .productname{
  display: block;
  border-bottom: 1px dotted #000;
}

.productelem img{
  border:10px solid #000;
}

.pageobject{
  float: left;
  margin-right: 30px;
  margin-left: 30px;
}

.eventlist{
  margin-top: 10px;
  padding-left:20px;
}

