body{
  background:none !important;
  text-align: left !important;
}

#map-canvas{
  width:98%;
  height:500px;
  border:10px solid #000;
}

.retailerimg{
  float:right;
}





body {
  margin:0;
  text-align:center;
  color:#3A5075;
  background:url('http://s.sbito.it/13112/img2/bg_site.gif') top repeat-x #FFFFEB;
}

/*Image*/
img {
  border:0;
}

/*Link*/
a {
  outline:none;
  text-decoration:none;
  background-color:transparent;
}

br.sep {
  clear:both;
  height:0;
  font-size:1px;
  line-height:0;
}

/* HOME PAGE */
#h_wrap {
  margin:auto;
  width:970px;
}

#h_left{
  width:310px;
  float:left;
  margin:10px 3px 0 0;
}

#h_left #h_inserisci{
  margin:25px 0;
}

#h_left #h_inserisci a{
  background:url(http://s.sbito.it/13112/img2/bg_inserisci_annuncio2.gif) top left;
  height:42px;
  display:block;
  font-size:20px;
  font-weight:bold;
  padding-top:12px;
  color:white;
}

#h_left #h_inserisci a:hover{
  background-position:bottom left;
}

#h_left #h_annunci_online{
  height:388px;
  background:url(http://s.sbito.it/13112/img2/box_neutro_02.png);
  text-align:left;
}

#h_left #h_count{
  color:#cc0000;
  font-weight:bold;
  padding-top:15px;
  padding-left:30px;
  font-size:16px;
}

div#h_count span{
  color:#333;
  font-weight:bold;
  display:inline;
}


#h_left #h_desc{
  margin:34px 30px 0 31px;
  padding:0;
  font-family:"Trebuchet MS",Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:28px;
  color:#CC0000;
}

#h_more{
  font-size:16px;
  margin-top:194px;
  color:#333;
  text-align:right;
  padding-right:35px;
  font-weight:bold;
}
#h_more span{
  color:#cc0000;
}

#h_top{
  float:right;
  padding-top:10px;
}

#h_top div.menutop{
  margin-top:11px;
}

#h_top div.menutop .menu_open {
  float:left;
  height:30px;
  width:20px;
  background:transparent url(http://s.sbito.it/13112/img2/back_menu_top.gif) top left no-repeat;
}

#h_left #h_desc li b {
  display: block;
}

#h_top div.menutop .menu_main {
  float:left;
  height:30px;
  background:transparent url(http://s.sbito.it/13112/img2/back_menu_top_main.gif);
}

#h_top div.menutop .menu_close {
  float:left;
  height:30px;
  width:20px;
  background:transparent url(http://s.sbito.it/13112/img2/back_menu_top.gif) top right no-repeat;
}

#h_top div.menutop h2 {
  margin:0;
  padding:9px 10px 0 0;
  display:block;
  float:left;
  font-weight:normal;
  font-size:11px;
  color:#333;
}

#h_top div.menutop ul {
  float:left;
  list-style-type:none;
  margin:0;
  padding:9px 0 0 0;
}

#h_top div.menutop ul li {
  display:block;
  float:left;
  padding:0;
  margin:0;
}

#h_top div.menutop a {
  display:block;
  float:left;
  font-weight:bold;
  font-size:11px;
}

#h_top div.menutop span {
  display:block;
  float:left;
  padding:0 5px;
  color:#999;
}

#h_main{
  width:460px;
  margin:0 0 0 35px;
  float:left;
}

#h_main #h_italy{
  width:460px;
  height:531px;
}

#h_right{
  width:160px;
  float:left;
  margin:30px 0 0 0;
}

#h_right ul{
  width:160px;
  margin:0;
  padding:0;
}

#h_right ul li{
  width:160px;
  margin:0;
  padding:3px 0;
  list-style:none;
  text-align:right;
}

#h_content #footer_top{
  margin:20px 0 0 0;
}

.lavoro #h_left #h_annunci_online #h_desc {
  margin: 40px 0 0 0;
  height:295px;
  font-size:16px;
  color:#333;
  font-family:Arial, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.lavoro #h_left #h_annunci_online #h_desc li {
  padding:10px 145px 10px 30px;
  line-height:22px;
  height:auto;
  list-style:none;
}

.lavoro #h_left #h_annunci_online{
  background:url(http://s.sbito.it/13112/img2/bg_offerte_lavoro2.gif);
}

.lavoro #h_left #h_count{
  padding-top: 10px;
  padding-left:30px;
}

.lavoro #h_left #h_count span{
  font-weight:normal;
  font-size:16px;
}


/*Btn*/
a.h_btn {
  color:#3a5075;
  font-size:14px;
  font-weight:bold;
  height:19px;
  line-height:19px;
  background:transparent;
  display:inline-block;
}

a.h_btn span {
  display:block;
  background:transparent;
  padding:0 10px;
  text-align:right;
}

a.h_btn:hover, a.h_btn.active{
  background:#3a5075 url(http://s.sbito.it/13112/img2/btn_blue_right.gif) right no-repeat;
  text-decoration:none;
  color:#fff;
}

a.h_btn:hover span, a.h_btn.active span{
  background:transparent url(http://s.sbito.it/13112/img2/btn_blue_left.gif) left no-repeat;
}

/*FOOTER*/

#footer {
  margin:auto;
  padding:25px 0 0;
  text-align:left;
  color:#6b6b6b;
}

#footer a{
  color:#6b6b6b;
}

#footer .boxfull{
  font-size:11px;
  padding:0 0 20px 0;
}

#footer .boxfull b{
  display:block;
  color:#333;
  font-weight:normal;
}

#footer_top{
  padding:12px 0 5px 3px;
  font-size:10px;
}

#footer_top a{
  color:#3a5079;
}

#footer_top ul{
  margin:0;
  padding:0;
}

#footer_top ul li{
  list-style:none;
  padding:0 20px 0 0;
  margin:0;
  font-weight:bold;
  display:inline;
}

#footer_main{
  padding:5px 0 5px 3px;
  font-size:10px;
  color:#6b6b6b;
}

#footer_main ul{
  margin:0;
  padding:0;
}

#footer_main ul li{
  display:inline;
  list-style:none;
  padding:0 5px 0 0;
  margin:0;
}

#footer_main ul li a{
  color:#6b6b6b;
}

#footer_main p{
  margin:0;
  padding:5px 0 0 0;
  color:#6b6b6b;
}

#footer_main ul li a{
  padding:0 5px 0 0;
}

#footer_bottom{
  padding:5px 0 20px 3px;
  margin:0;
  font-size:10px;
  color:#6b6b6b;
}

#footer_bottom p{
  margin:0;
  padding:0;
}

#footer_bottom p a{
  color:#3a5079;
}

#footer_bottom h1{
  display:inline;
  font-size:10px;
  margin:0 5px 0 0;
  padding:0;
  font-weight:normal;
}

#hp_bookmark{display:block}


#footer_main, #footer_bottom{
  border-top: 1px solid #686868;
}


/* MAPPA */
.Map {
  background:url(http://s.sbito.it/13112/img2/bg_map.gif);
  z-index:100;
  position:relative;
  height:100%;
  width:100%;
  margin:0;
  padding:0;
}

#region_map{
  position:absolute;
  width:460px;
  height:531px;
  z-index:105;
  top:0;
  left:0;
}

#region_map img{width:460px; height:531px;}

.sprite_region_all{background:none; z-index:110;}
.sprite_region_1 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-8280px 0px;z-index:110;}
.sprite_region_2 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-5060px  0px;z-index:110;}
.sprite_region_3 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-3220px  0px;z-index:110;}
.sprite_region_4 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-3680px 0px;z-index:110;}
.sprite_region_5 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-7360px 0px;z-index:110;}
.sprite_region_6 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-8740px 0px;z-index:110;}
.sprite_region_7 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-2300px 0px;z-index:110;}
.sprite_region_8 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-1840px 0px;z-index:110;}
.sprite_region_9 {background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-6900px 0px;z-index:110;}
.sprite_region_10{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-7820px 0px;z-index:110;}
.sprite_region_11{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-2760px 0px;z-index:110;}
.sprite_region_12{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-4140px 0px;z-index:110;}
.sprite_region_13{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:0px 0px;z-index:110;}
.sprite_region_14{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-4600px 0px;z-index:110;}
.sprite_region_15{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-1380px 0px;z-index:110;}
.sprite_region_16{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-5520px 0px;z-index:110;}
.sprite_region_17{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-460px 0px;z-index:110;}
.sprite_region_18{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-920px 0px;z-index:110;}
.sprite_region_19{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-5980px 0px;z-index:110;}
.sprite_region_20{background:url(http://s.sbito.it/13112/img2/sprite_map.gif) no-repeat; width:460px;height:531px;background-position:-6440px 0px;z-index:110;}
