<% content_for :orientation do %>
    prodotti<span class="orientsep"> -> </span><%= link_to "prodotti partners", products_by_partners_path %>
<% end %>

<% content_for :rightcol do %>
<h1>Prodotti dai nostri partner</h1>
<ul>
  <% @partners_prod.each do |product| %>
      <li class="productelem">
        <% if (product.pictures[0]) %>
            <%=link_to image_tag(product.pictures[0].url_image, :alt => product.name, :width => 300), products_show_path(:id => product.id, :par => true)%>
        <% else %>
            <%=link_to image_tag("productdefault.jpg", :alt => product.name, :width => 300), products_show_path(:id => product.id, :par => true)%>
        <% end %>
        <%= link_to product.name, products_show_path(:id => product.id, :par => true), :class => "productname" %>
      </li>
  <% end %>
</ul>
<% end %>

<% content_for :right do %>
<% end %>