<% content_for :orientation do %>
    prodotti<span class="orientsep"> -> </span> <%= link_to "prodotti ufficio", products_all_office_path %><span class="orientsep"> -> </span> <%= link_to @cat, products_office_by_type_path(:category => @cat)%>
<% end %>

<% content_for :rightcol do %>
<h1>Prodotti ufficio per <%= @cat %></h1>
    <% if @office_prod[0] %>
        <ul>
          <% @office_prod.each do |product| %>
              <li class="productelem">
                <% if (product.pictures[0]) %>
                    <%=link_to image_tag(product.pictures[0].url_image, :alt => product.name, :width => 300), products_show_path(:id => product.id, :off => @cat)%>
                <% else %>
                    <%=link_to image_tag("productdefault.jpg", :alt => product.name, :width => 300), products_show_path(:id => product.id, :off => @cat)%>
                <% end %>
                <%= link_to product.name, products_show_path(:id => product.id, :off => @cat), :class => "productname" %>
              </li>
          <% end %>
        </ul>
    <% else %>
    Nessun prodotto ufficio per <%= @cat %> trovato.
    <% end %>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to products_all_office_path do %>
          <%= image_tag("buttonbwd.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Torna a prodotti ufficio</span>
      <% end %>
    </div>
<% end %>