<% content_for :orientation do %>
    <% if(!@ret)%>
        <%if(@des)%>
            <%= link_to "Designers", designers_all_path %><span class="orientsep"> -> </span><%= link_to @desname, designers_show_path(:id => @des)%><span class="orientsep"> -> </span><%= link_to @product.name, products_show_path(:id => @product.id, :des => @des, :pro => @pro, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) %>

        <%elsif(!@des && @par)%>
            prodotti<span class="orientsep"> -> </span><%= link_to "prodotti partners", products_by_partners_path%><span class="orientsep"> -> </span><%= link_to @product.name, products_show_path(:id => @product.id, :des => @des, :pro => @pro, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) %>

        <% elsif(@top)%>
            prodotti<span class="orientsep"> -> </span><%= link_to "prodotti top", products_top_path%><span class="orientsep"> -> </span><%= link_to @product.name, "" %>

        <%elsif(@product.home_office) %>
            prodotti<span class="orientsep"> -> </span> <%= link_to "prodotti casa", products_all_home_path %><span class="orientsep"> -> </span> <%= link_to @hom, products_home_by_type_path(:category => @hom)%><span class="orientsep"> -> </span><%= link_to @product.name, products_show_path(:id => @product.id, :des => @des, :pro => @pro, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) %>

        <%elsif(!@product.home_office) %>
            prodotti<span class="orientsep"> -> </span> <%= link_to "prodotti ufficio", products_all_office_path %><span class="orientsep"> -> </span> <%= link_to @off, products_office_by_type_path(:category => @off)%><span class="orientsep"> -> </span><%= link_to @product.name, products_show_path(:id => @product.id, :des => @des, :pro => @pro, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) %>

        <% end %>
    <% else %>
        <% link_to @retname, "/retailers/retailers_products/?id="+@ret %>
    <% end %>
<% end %>

<% content_for :rightcol do %>
    <h1 class="productname"><%= @product.name %></h1>
    <h3 class="productdesigner"><% @product.designers.each do |designer| %>
          <%= designer.name+" "+designer.lastname %>
      <% end %>
    </h3>

    <div id="slidercont">
      <% if (@product.pictures[0]) %>
          <% if @product.pictures[1] %>
              <%=image_tag("slider_arrow_left.png", :width => 80, :id => "arrowleft", :class => "sliderarrow")%>
              <%=image_tag("slider_arrow_right.png", :width => 80, :id => "arrowright", :class => "sliderarrow")%>
          <% end %>
          <div id="slider" style="position:absolute;left:0;width:<%=@product.pictures.length*600%>px">
            <% @product.pictures.each do |prodpict| %>
                <div class="sliderobj"><%=image_tag(prodpict.url_image, :height => 230) %></div>
            <% end %>
          </div>
      <% else %>
          <div class="sliderobj"><%=image_tag("productdefault.jpg", :height => 230) %></div>
      <% end %>
    </div>

    <div class="row">
      <%=image_tag("formatbullets.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Descrizione</span>
    </div>
    <p class="paragraph"><%=@product.description %></p>

    <div class="row">
      <%=image_tag("servizi.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Servizi</span>
    </div>
    <p class="paragraph"><%=@product.services %></p>

    <div class="row">
      <%=image_tag("pen.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Designers</span>
    </div>
    <div>
      <% @product.designers.each do |designer| %>
          <div class="designerelem">
            <%= link_to designers_show_path(:id => designer.id, :pro => @product.id, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
                <%= image_tag(designer.photo_url, :width => 100, :class => "designerphoto")%> <span class="designername"><%=designer.name+" "+designer.lastname %></span>
            <% end %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="arrowcontainer">
        <% if @path_left %>
            <%=link_to @path_left do%>
                <%= image_tag("arrowleft.png", :width => 60, :class => "leftarrowpage")%>
            <% end %>
        <% end %>
        <% if @path_up %>
            <%=link_to @path_up do%>
                <%= image_tag("arrowup.png", :width => 60, :class => "uparrowpage")%>
            <% end %>
        <% end %>
        <% if @path_right %>
            <%=link_to @path_right do%>
                <%= image_tag("arrowright.png", :width => 60, :class => "rightarrowpage")%>
            <% end %>
        <% end %>
      </div>
    </div>
<% end %>

<% content_for :leftcol do %>
    <div class="row">
      <%= link_to products_products_retailers_path(:id => @product.id, :pro => @pro, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do %>
          <%= image_tag("resellersicon.png", :width => 40, :class => "icon") %><span class="pagesubtitle">Rivenditori</span><span class="gray"><%=@product.name%></span>
      <% end %>
    </div>
    <div class="row">
      <%=image_tag("eventsicon.png", :width => 40, :class => "icon")%> <span class="pagesubtitle">Eventi</span><span class="gray"><%=@product.name%></span>
    </div>
    <% if !@product.events[0] %> Nessun evento associato. <% else %>
        <ul class="eventlist">
          <% @product.events.each do |event| %>
              <%= link_to events_show_path(:id => event.id, :pro => @product.id, :des => @des, :hom => @hom, :off => @off, :top => @top, :par => @par, :ret => @ret, :eve => @eve, :reg => @reg, :dat => @dat, :rall => @rall) do%>
                  <li class="eventobject"><p><%=event.date%></p><p>@<%=event.name+","+event.place%></p></li>
              <% end %>
          <% end %>
        </ul>
    <% end %>
<% end %>