<h1>Prodotti top</h1>
<ul>
  <% @top_prod.each do |product| %>
      <li class="productelem">
        <% if (product.pictures[0]) %>
            <%=link_to image_tag(product.pictures[0].url_image, :alt => product.name, :width => 300), products_show_path(:id => product.id, :top => true)%>
        <% else %>
            <%=link_to image_tag("productdefault.jpg", :alt => product.name, :width => 300), products_show_path(:id => product.id, :top => true)%>
        <% end %>
        <%=link_to product.name, products_show_path(:id => product.id, :top => true), :class => "productname"%>

      </li>
  <% end %>
</ul>